@font-face {
  font-family: 'Asap';
  font-style: normal;
  font-weight: 400;
  src: local('Asap Regular'), local('Asap-Regular'), url(https://fonts.gstatic.com/s/asap/v7/KFOoCniXp96ayzse4GZNCzc.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

#header {
  padding: 0.5em 0.1em;
}

#header h1 {
  /*font-weight: normal;*/
  font-size: 2rem;
  color: #333;
  text-align: center;
}

#header input {
  width: 100%;
  border: none;
  font-size: 1.5em !important;
  padding: 0.8em !important;
  box-sizing: border-box;
  background-color: #eee;
  border-radius: 0.5em;
  color: #333;
  font-family: 'Asap', sans-serif !important;
}

.emojis {
  padding-top: 0.9rem;
  text-align: left;
  font-size: 4rem;
  line-height: 3.5rem;
  overflow: hidden;
}

.emoji-container {
  display: inline-block;
  width: 4rem;
  height: 4rem;
} .emoji-container:hover {
  background: #666;
  border-radius: 5px;
}

.emoji {
  display: block;
  position: relative;
  top: 0.55rem;
  font-family: apple color emoji, segoe ui emoji, notocoloremoji, segoe ui symbol, android emoji, emojisymbols, emojione mozilla;
}

.no-results {
  font-size: 30px;
  font-family: monospace;
  color: #666;
}