#header {
  padding: 0.5em 0em;
}

#header h1 {
  /*font-weight: normal;*/
  font-size: 2rem;
  color: #333;
  text-align: center;
}

#header input {
  width: 100%;
  border: none;
  padding: 15px;
  font-size: 1.5em !important;
  padding: 0.8em !important;
  box-sizing: border-box;
  background-color: #eee;
  border-radius: 0.5em;
  color: #333;
}

.emojis {
  padding-top: 0.9rem;
  text-align: left;
  font-size: 4rem;
  line-height: 3.5rem;
  overflow: hidden;
}

.emoji-container {
  display: inline-block;
  width: 4rem;
  height: 4rem;
} .emoji-container:hover {
  background: #666;
  border-radius: 5px;
}

.emoji {
  display: block;
  position: relative;
  top: 4px;
  font-family: apple color emoji, segoe ui emoji, notocoloremoji, segoe ui symbol, android emoji, emojisymbols, emojione mozilla;
}

.no-results {
  font-size: 30px;
  font-family: monospace;
  color: #666;
}