#input-container {
  margin-top: 3em;
  padding: 0em 1em;
}

input {
  width: 100%;
  border: none;
  font-size: 40px;
  padding: 15px;
  box-sizing: border-box;
  background-color: #eee;
  border-radius: 0.8em;
  text-align: center;
  font-weight: bold;
  color: #555;
  font-family: 'Pacifico', cursive;
}

.emojis {
  padding-top: 0.9em;
  text-align: center;
  font-size: 55px;
  line-height: 1em;
  overflow: hidden;
}

.emoji {
  display: inline-block;
  width: 1em;
  height: 1em;
  font-family: apple color emoji, segoe ui emoji, notocoloremoji, segoe ui symbol, android emoji, emojisymbols, emojione mozilla;
} .emoji:hover {
  background: #eee;
  border-radius: 3px;
}

.no-results {
  font-size: 30px;
  font-family: monospace;
  color: #666;
}